form{
    margin: 30px auto 10px;
    text-align: center;
    width: 40%;
  }

  label{
    display: block;
    height: 30px;
    border: 1px solid var(--primary);
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
  }
  label:hover{
    background: var(--primary);
    color: white;
  }
  .output{
    height: 60px;
    font-size: 0.8rem;
  }
  .error{
    color: var(--error);
  }